# Python Carsh Course

<p><b>Numbers</b></p>

In [1]:
2 + 3

5

In [2]:
2.0 + 4

6.0

In [3]:
3 - 4

-1

In [4]:
3.0 - 4

-1.0

In [7]:
4 / 2

2.0

In [9]:
4 // 3

1

In [11]:
4 ** 3

64

In [12]:
2 + 3 * 5 + 5

22

In [13]:
my_num = 2

In [16]:
#variable names cannot start with numbers
#variable should follow snakecase or camelcase pattern
# variable names cannot start with symbols

# Strings

In [18]:
my_str = 'Hello DataAnalysis'

In [19]:
my_str

'Hello DataAnalysis'

In [25]:
print('hi I\'am tutorial')

hi I'am tutorial

In [24]:
print(my_str)

Hello DataAnalysis

In [26]:
str_for_index = 'hello'

In [28]:
print(str_for_index[4])

o

In [31]:
str_for_index[-4:-1]

'ell'

# Lists

In [32]:
my_list = [1,'a',True, -1,{'name': 'Ram'}]

In [35]:
print(my_list[4]['name'])

Ram

# Dictionaries

In [38]:
d = {
    'key1': 1,
    'key2': 2,
    'key3': 3,
    'key4':{
        'sub-key':'hello',
        'sube-keyo':'bonjour'
    }
}

In [39]:
d['key4']['sube-keyo']

'bonjour'

# Tuples

In [40]:
t = (1,2,4)

In [41]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

# sets

In [42]:
s = {1,2,3,4}

In [43]:
type(s)

set

In [45]:
s = set([1,1,2,2,3,3,3,4,4,4,5,5,5,6,6])

In [46]:
s

{1, 2, 3, 4, 5, 6}